{% load staticfiles %}
{##新增内容#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .outer {
            margin: 100px auto;
            height: 400px;
        {#            background-color: greenyellow;#} border: 0px solid rebeccapurple;
            width: 75%;
        }
    </style>
    {#    //引入外部文件#}
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
    <script src="{% static "dist/js/jquery-3.1.1.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.js" %}"></script>
</head>
<body>

<div class="outer">

    <a href="/addBook/">
        <button type="button" class="btn btn-primary">添加</button>

        <br/></a>
    <hr/>
    <table class="table table-striped">
        <tr>
            <th>编号</th>
            <th>名字</th>
            <th>价格</th>
            <th>作者</th>
            <th>出版社</th>
            <th>管理</th>
        </tr>
        {% for book in all_book_list %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publish }}</td>
                <td><a href="/delete/?id={{ book.id }}">
                    <button type="button" class="btn btn-danger">删除</button>
                </a>
                    <a href="">
                        <button type="button" class="btn btn-info">修改</button>
                    </a></td>
            </tr>
        {% endfor %}
        {#  {{ all_book_list }}#}
    </table>
</div>
</body>
</html>